* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Inter", sans-serif;    
}

:root{
    --color-title: #0d0d0db4;
    --color-border:  #383838;
    --color-nav: #c6c6c6;
    --color-bodybackgroud: #dcdcdc;
    --color-li: #13ddda8b;
    --color-shadow: rgba(0, 0, 0, 0.311);
}

.darkmode {
    --color-nav: oklch(30.519% 0.00003 271.152);
    --color-bodybackgroud: #4b4b4b;
    --color-buttons: rgba(129, 129, 129, 0.754);
    --color-border:  rgba(128, 128, 128, 0.213);
    --color-title: rgba(222, 222, 222, 0.654);

}

.displaynone{
    display: none;
}

body {
    background-color: var(--color-bodybackgroud);
    margin: 0;
    overflow: scroll;
}
body h1 {
    cursor:pointer;
}

.navegacion {
    background-color:var(--color-nav);
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px var(--color-shadow);
    padding: 15px 15px 7px 15px;
}

.navegacion h1 {
    color: var(--color-title)
}

nav {
    align-self: center;
}

nav a {
    color: var(--color-buttons);
    text-decoration: none;
    margin: 0 9px;
}

nav a:hover{
    border-bottom:1px groove var(--color-li);
}

nav a:active{
    color: grey;
}

.containerInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 12px;
    ;
}

.errorUsario {
    color: red;
}

.mensajeBienvenida {
    color: var(--color-li);
    padding: 5px 0;
    margin-bottom: 7px;
    border: 2px solid var(--color-li);
    display: flex;
    justify-content: center;
    text-shadow: #ffffff 1px 0 10px;
    font-size: large;
}

#okey {
    border-radius: 50%;
    padding: 3px;
    border: 1px solid green;
    background-color: rgba(89, 255, 47, 0.785);
}

#back {
    border-radius: 50%;
    padding: 3px 6.5px;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.500);
}

main {
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.buttonLight {
    border: none;
    background-color: var(--color-bodybackgroud);
    cursor: pointer;
}

.buttonDark {
    border: none;
    background-color: var(--color-bodybackgroud);
    cursor: pointer;
}

.containerTitle {
    display: flex;
}

main p {
    padding-top: 10px;
}

main .title {
    font-size: 24px;
    padding-left: 10px;
    cursor: default;
    color: var(--color-title);
}

.description {
    opacity: 0.7;
    line-height: 1.3;
    text-wrap: balance;
}

.lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding: 0;
    margin-block: 30px; /*arriba y abajo */
    justify-content: center;
}

.lista li {
    background-color: rgba(135, 135, 135, 0.459);
    color: var(--color-title);
    font-weight: 600;
    padding: 9px 20px;
    border-radius: 40px;
    border: 2px solid var(--color-li); 
    margin: auto;
}

.lista li:hover {
    border: 2px ridge var(--color-li);
    color: var(--color-title);
    cursor: pointer;
}

#articulos {
    display: grid;
    gap: 23px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    margin-bottom: 50px;
    justify-content: center;
    color: var(--color-title);
}

article {
    background-color: var(--color-nav);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 4px 4px 5px var(--color-shadow);
    cursor: pointer;
}

article img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

article:hover img{
    transform: scale(1.1);
}

article div{
    padding: 4px 20px;
    border-bottom: 1px #ccc solid;
}

article div h4 {
font-size: 20px;
letter-spacing: 1px;
color: var(--color-title);
text-wrap: balance;
margin: 8px 0;
}

article div p{
    margin: 10px 0;
    line-height: 19px;
}

article footer {
    padding: 6px 20px;
    color: var(--color-title);
    background-color: rgba(135, 135, 135, 0.459);
}

.formulario {
    background-color: var(--color-nav);
    border-radius: 35px;
    padding: 15px;
    max-width: 600px;
    margin: auto;
}

.formulario h3 {
    margin: 0px 0 15px 20px;
    color: var(--color-title);
}

.formulario span {
    font-size: 14px;
    color: var(--color-title);
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario fieldset{
    border-style: none;
    background-color: var(--color-bodybackgroud);
    border-radius: 25px;
    padding:0 20px;
}

.formulario p {
    margin: 10px 0;
    font-weight: 600;
    color: var(--color-title);
    border-bottom: 1px var(--color-border) inset;
}

.formulario label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--color-title);
}

.formulario fieldset input {
    border-radius: 20px;
    height: 25px;
    border:0.5px solid var(--color-li);
    max-width: 300px;
    padding: 15px 0 15px 15px;
    background-color: #f0f0f0;
}

.date {
    cursor: pointer;
}

#lenguajes-id{
    cursor: default;
}

.formulario fieldset select {
    border-radius: 20px;
    border:0.5px solid var(--color-li);
    width: 100%;
    min-width: 200px;
    padding: 7px 7px;
}

.containerForm {
    display: flex;
    gap: 8px 30px;
    margin-bottom: 7px;
    flex-wrap: wrap;
}

.buttones-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttones p {
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.buttones button {
    margin: 10px 0;
    padding: 8px 0;
    border-radius: 20px;
    width: 100%;
    max-width: 150px;
    border:2px solid var(--color-li);
    background-color: var(--color-buttons);
    color: var(--color-title);
    font-size: 16px;
}

.buttones button[type="submit"]:hover{
    border: 2px solid var(--color-li);
    color: green;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 600ms ease;
    background-color: var(--color-nav);
}

.buttones button[type="reset"]:hover{
    border: 2px solid var(--color-li);
    color: red;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 600ms ease;
    background-color: var(--color-nav);
}

.buttones button:active{
    background-color: var(--color-nav);
}

.piedePagina {
    background-color: var(--color-nav);
    padding: 16px;
}

footer p {
    font-size: small;
    color: var(--color-title);
}